In [6]:
import numpy as np
import pandas as pd

## Intro to pandas DataFrame iteration

In [2]:
baseball_df = pd.read_csv('baseball_stats.csv')
baseball_df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

In [7]:
def calc_win_perc(wins, games_played):
    win_perc = wins / games_played
    return np.round(win_perc,2) 
    
win_perc = calc_win_perc(50, 100)
print(win_perc)

0.5

In [8]:
win_perc_list = []

for i in range(len(baseball_df)):
    row = baseball_df.iloc[i] 
    wins = row['W']   
    games_played = row['G'] 
    win_perc = calc_win_perc(wins, games_played)  
    win_perc_list.append(win_perc)
baseball_df['WP'] = win_perc_list

In [9]:
baseball_df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,WP
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415,0.50
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378,0.58
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403,0.57
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428,0.43
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424,0.38

### Iterating with .iterrows()
In the video, we discussed that .iterrows() returns each DataFrame row as a tuple of (index, pandas Series) pairs. But, what does this mean? Let's explore with a few coding exercises.

A pandas DataFrame has been loaded into your session called pit_df. This DataFrame contains the stats for the Major League Baseball team named the Pittsburgh Pirates (abbreviated as 'PIT') from the year 2008 to the year 2012. It has been printed into your console for convenience.

In [13]:
pit_df = baseball_df[baseball_df['Team'] == 'PIT']

In [14]:
# Iterate over pit_df and print each row
for row, i in pit_df.iterrows():
    print(row)

21
51
81
111
141
171
201
231
262
292
322
352
382
412
442
471
499
527
553
579
605
631
657
683
709
735
761
787
813
839
865
891
917
943
967
991
1015
1039
1063
1086
1108
1128
1148
1168
1188
1208
1228

In [16]:
# Iterate over pit_df and print each index variable, row, and row type
for i,row in pit_df.iterrows():
    print(i)
    print(row)
    print(type(row))

21
Team              PIT
League             NL
Year             2012
RS                651
RA                674
W                  79
OBP             0.304
SLG             0.395
BA              0.243
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.314
OSLG             0.39
WP               0.49
Name: 21, dtype: object
<class 'pandas.core.series.Series'>
51
Team              PIT
League             NL
Year             2011
RS                610
RA                712
W                  72
OBP             0.309
SLG             0.368
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.338
OSLG            0.409
WP               0.44
Name: 51, dtype: object
<class 'pandas.core.series.Series'>
81
Team              PIT
League             NL
Year             2010
RS                587
RA                866
W                  57
OBP             0.304
SLG             0.373
BA              0.242
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.348
OSLG            0.449
WP               0.35
Name: 81, dtype: object
<class 'pandas.core.series.Series'>
111
Team              PIT
League             NL
Year             2009
RS                636
RA                768
W                  62
OBP             0.318
SLG             0.387
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.346
OSLG            0.442
WP               0.39
Name: 111, dtype: object
<class 'pandas.core.series.Series'>
141
Team              PIT
League             NL
Year             2008
RS                735
RA                884
W                  67
OBP              0.32
SLG             0.403
BA              0.258
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.362
OSLG            0.454
WP               0.41
Name: 141, dtype: object
<class 'pandas.core.series.Series'>
171
Team              PIT
League             NL
Year             2007
RS                724
RA                846
W                  68
OBP             0.325
SLG             0.411
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.352
OSLG            0.447
WP               0.42
Name: 171, dtype: object
<class 'pandas.core.series.Series'>
201
Team              PIT
League             NL
Year             2006
RS                691
RA                797
W                  67
OBP             0.327
SLG             0.397
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.357
OSLG            0.431
WP               0.41
Name: 201, dtype: object
<class 'pandas.core.series.Series'>
231
Team              PIT
League             NL
Year             2005
RS                680
RA                769
W                  67
OBP             0.322
SLG               0.4
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.424
WP               0.41
Name: 231, dtype: object
<class 'pandas.core.series.Series'>
262
Team              PIT
League             NL
Year             2004
RS                680
RA                744
W                  72
OBP             0.321
SLG             0.401
BA               0.26
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.416
WP               0.45
Name: 262, dtype: object
<class 'pandas.core.series.Series'>
292
Team              PIT
League             NL
Year             2003
RS                753
RA                801
W                  75
OBP             0.338
SLG              0.42
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.336
OSLG            0.431
WP               0.46
Name: 292, dtype: object
<class 'pandas.core.series.Series'>
322
Team              PIT
League             NL
Year             2002
RS                641
RA                730
W                  72
OBP             0.319
SLG             0.381
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.423
WP               0.45
Name: 322, dtype: object
<class 'pandas.core.series.Series'>
352
Team              PIT
League             NL
Year             2001
RS                657
RA                858
W                  62
OBP             0.313
SLG             0.393
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.433
WP               0.38
Name: 352, dtype: object
<class 'pandas.core.series.Series'>
382
Team              PIT
League             NL
Year             2000
RS                793
RA                888
W                  69
OBP             0.339
SLG             0.424
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.361
OSLG            0.432
WP               0.43
Name: 382, dtype: object
<class 'pandas.core.series.Series'>
412
Team              PIT
League             NL
Year             1999
RS                775
RA                782
W                  78
OBP             0.334
SLG             0.419
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.343
OSLG             0.42
WP               0.48
Name: 412, dtype: object
<class 'pandas.core.series.Series'>
442
Team              PIT
League             NL
Year             1998
RS                650
RA                718
W                  69
OBP             0.311
SLG             0.374
BA              0.254
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP               0.42
Name: 442, dtype: object
<class 'pandas.core.series.Series'>
471
Team              PIT
League             NL
Year             1997
RS                725
RA                760
W                  79
OBP             0.329
SLG             0.404
BA              0.262
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 471, dtype: object
<class 'pandas.core.series.Series'>
499
Team              PIT
League             NL
Year             1996
RS                776
RA                833
W                  73
OBP             0.329
SLG             0.407
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.45
Name: 499, dtype: object
<class 'pandas.core.series.Series'>
527
Team              PIT
League             NL
Year             1993
RS                707
RA                806
W                  75
OBP             0.335
SLG             0.393
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.46
Name: 527, dtype: object
<class 'pandas.core.series.Series'>
553
Team              PIT
League             NL
Year             1992
RS                693
RA                595
W                  96
OBP             0.324
SLG             0.381
BA              0.255
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.59
Name: 553, dtype: object
<class 'pandas.core.series.Series'>
579
Team              PIT
League             NL
Year             1991
RS                768
RA                632
W                  98
OBP             0.338
SLG             0.398
BA              0.263
Playoffs            1
RankSeason        1.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP                0.6
Name: 579, dtype: object
<class 'pandas.core.series.Series'>
605
Team              PIT
League             NL
Year             1990
RS                733
RA                619
W                  95
OBP              0.33
SLG             0.405
BA              0.259
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.59
Name: 605, dtype: object
<class 'pandas.core.series.Series'>
631
Team              PIT
League             NL
Year             1989
RS                637
RA                680
W                  74
OBP             0.311
SLG             0.359
BA              0.241
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 164
OOBP              NaN
OSLG              NaN
WP               0.45
Name: 631, dtype: object
<class 'pandas.core.series.Series'>
657
Team              PIT
League             NL
Year             1988
RS                651
RA                616
W                  85
OBP             0.317
SLG             0.369
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 160
OOBP              NaN
OSLG              NaN
WP               0.53
Name: 657, dtype: object
<class 'pandas.core.series.Series'>
683
Team              PIT
League             NL
Year             1987
RS                723
RA                744
W                  80
OBP              0.33
SLG             0.403
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 683, dtype: object
<class 'pandas.core.series.Series'>
709
Team              PIT
League             NL
Year             1986
RS                663
RA                700
W                  64
OBP             0.321
SLG             0.374
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP                0.4
Name: 709, dtype: object
<class 'pandas.core.series.Series'>
735
Team              PIT
League             NL
Year             1985
RS                568
RA                708
W                  57
OBP             0.311
SLG             0.347
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
WP               0.35
Name: 735, dtype: object
<class 'pandas.core.series.Series'>
761
Team              PIT
League             NL
Year             1984
RS                615
RA                567
W                  75
OBP              0.31
SLG             0.363
BA              0.255
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.46
Name: 761, dtype: object
<class 'pandas.core.series.Series'>
787
Team              PIT
League             NL
Year             1983
RS                659
RA                648
W                  84
OBP             0.325
SLG             0.383
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.52
Name: 787, dtype: object
<class 'pandas.core.series.Series'>
813
Team              PIT
League             NL
Year             1982
RS                724
RA                696
W                  84
OBP             0.327
SLG             0.408
BA              0.273
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.52
Name: 813, dtype: object
<class 'pandas.core.series.Series'>
839
Team              PIT
League             NL
Year             1980
RS                666
RA                646
W                  83
OBP             0.322
SLG             0.388
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.51
Name: 839, dtype: object
<class 'pandas.core.series.Series'>
865
Team              PIT
League             NL
Year             1979
RS                775
RA                643
W                  98
OBP              0.33
SLG             0.416
BA              0.272
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 163
OOBP              NaN
OSLG              NaN
WP                0.6
Name: 865, dtype: object
<class 'pandas.core.series.Series'>
891
Team              PIT
League             NL
Year             1978
RS                684
RA                637
W                  88
OBP              0.32
SLG             0.385
BA              0.257
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
WP               0.55
Name: 891, dtype: object
<class 'pandas.core.series.Series'>
917
Team              PIT
League             NL
Year             1977
RS                734
RA                665
W                  96
OBP             0.331
SLG             0.413
BA              0.274
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.59
Name: 917, dtype: object
<class 'pandas.core.series.Series'>
943
Team              PIT
League             NL
Year             1976
RS                708
RA                630
W                  92
OBP             0.321
SLG             0.391
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.57
Name: 943, dtype: object
<class 'pandas.core.series.Series'>
967
Team              PIT
League             NL
Year             1975
RS                712
RA                565
W                  92
OBP             0.323
SLG             0.402
BA              0.263
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 161
OOBP              NaN
OSLG              NaN
WP               0.57
Name: 967, dtype: object
<class 'pandas.core.series.Series'>
991
Team              PIT
League             NL
Year             1974
RS                751
RA                657
W                  88
OBP             0.335
SLG             0.391
BA              0.274
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.54
Name: 991, dtype: object
<class 'pandas.core.series.Series'>
1015
Team              PIT
League             NL
Year             1973
RS                704
RA                693
W                  80
OBP             0.315
SLG             0.405
BA              0.261
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 1015, dtype: object
<class 'pandas.core.series.Series'>
1039
Team              PIT
League             NL
Year             1971
RS                788
RA                599
W                  97
OBP              0.33
SLG             0.416
BA              0.274
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 162
OOBP              NaN
OSLG              NaN
WP                0.6
Name: 1039, dtype: object
<class 'pandas.core.series.Series'>
1063
Team              PIT
League             NL
Year             1970
RS                729
RA                664
W                  89
OBP             0.325
SLG             0.406
BA               0.27
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.55
Name: 1063, dtype: object
<class 'pandas.core.series.Series'>
1086
Team              PIT
League             NL
Year             1969
RS                725
RA                652
W                  88
OBP             0.334
SLG             0.398
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.54
Name: 1086, dtype: object
<class 'pandas.core.series.Series'>
1108
Team              PIT
League             NL
Year             1968
RS                583
RA                532
W                  80
OBP             0.306
SLG             0.343
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 1108, dtype: object
<class 'pandas.core.series.Series'>
1128
Team              PIT
League             NL
Year             1967
RS                679
RA                693
W                  81
OBP             0.324
SLG              0.38
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP                0.5
Name: 1128, dtype: object
<class 'pandas.core.series.Series'>
1148
Team              PIT
League             NL
Year             1966
RS                759
RA                641
W                  92
OBP             0.329
SLG             0.428
BA              0.279
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.57
Name: 1148, dtype: object
<class 'pandas.core.series.Series'>
1168
Team              PIT
League             NL
Year             1965
RS                675
RA                580
W                  90
OBP             0.317
SLG             0.382
BA              0.265
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP               0.55
Name: 1168, dtype: object
<class 'pandas.core.series.Series'>
1188
Team              PIT
League             NL
Year             1964
RS                663
RA                636
W                  80
OBP             0.315
SLG             0.389
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 1188, dtype: object
<class 'pandas.core.series.Series'>
1208
Team              PIT
League             NL
Year             1963
RS                567
RA                595
W                  74
OBP             0.309
SLG             0.359
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.46
Name: 1208, dtype: object
<class 'pandas.core.series.Series'>
1228
Team              PIT
League             NL
Year             1962
RS                706
RA                626
W                  93
OBP             0.321
SLG             0.394
BA              0.268
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
WP               0.58
Name: 1228, dtype: object
<class 'pandas.core.series.Series'>

In [17]:
# Use one variable instead of two to store the result of .iterrows()
for row_tuple in pit_df.iterrows():
    print(row_tuple)

(21, Team              PIT
League             NL
Year             2012
RS                651
RA                674
W                  79
OBP             0.304
SLG             0.395
BA              0.243
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.314
OSLG             0.39
WP               0.49
Name: 21, dtype: object)
(51, Team              PIT
League             NL
Year             2011
RS                610
RA                712
W                  72
OBP             0.309
SLG             0.368
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.338
OSLG            0.409
WP               0.44
Name: 51, dtype: object)
(81, Team              PIT
League             NL
Year             2010
RS                587
RA                866
W                  57
OBP             0.304
SLG             0.373
BA              0.242
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.348
OSLG            0.449
WP               0.35
Name: 81, dtype: object)
(111, Team              PIT
League             NL
Year             2009
RS                636
RA                768
W                  62
OBP             0.318
SLG             0.387
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.346
OSLG            0.442
WP               0.39
Name: 111, dtype: object)
(141, Team              PIT
League             NL
Year             2008
RS                735
RA                884
W                  67
OBP              0.32
SLG             0.403
BA              0.258
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.362
OSLG            0.454
WP               0.41
Name: 141, dtype: object)
(171, Team              PIT
League             NL
Year             2007
RS                724
RA                846
W                  68
OBP             0.325
SLG             0.411
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.352
OSLG            0.447
WP               0.42
Name: 171, dtype: object)
(201, Team              PIT
League             NL
Year             2006
RS                691
RA                797
W                  67
OBP             0.327
SLG             0.397
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.357
OSLG            0.431
WP               0.41
Name: 201, dtype: object)
(231, Team              PIT
League             NL
Year             2005
RS                680
RA                769
W                  67
OBP             0.322
SLG               0.4
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.424
WP               0.41
Name: 231, dtype: object)
(262, Team              PIT
League             NL
Year             2004
RS                680
RA                744
W                  72
OBP             0.321
SLG             0.401
BA               0.26
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.416
WP               0.45
Name: 262, dtype: object)
(292, Team              PIT
League             NL
Year             2003
RS                753
RA                801
W                  75
OBP             0.338
SLG              0.42
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.336
OSLG            0.431
WP               0.46
Name: 292, dtype: object)
(322, Team              PIT
League             NL
Year             2002
RS                641
RA                730
W                  72
OBP             0.319
SLG             0.381
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.423
WP               0.45
Name: 322, dtype: object)
(352, Team              PIT
League             NL
Year             2001
RS                657
RA                858
W                  62
OBP             0.313
SLG             0.393
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.433
WP               0.38
Name: 352, dtype: object)
(382, Team              PIT
League             NL
Year             2000
RS                793
RA                888
W                  69
OBP             0.339
SLG             0.424
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.361
OSLG            0.432
WP               0.43
Name: 382, dtype: object)
(412, Team              PIT
League             NL
Year             1999
RS                775
RA                782
W                  78
OBP             0.334
SLG             0.419
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.343
OSLG             0.42
WP               0.48
Name: 412, dtype: object)
(442, Team              PIT
League             NL
Year             1998
RS                650
RA                718
W                  69
OBP             0.311
SLG             0.374
BA              0.254
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP               0.42
Name: 442, dtype: object)
(471, Team              PIT
League             NL
Year             1997
RS                725
RA                760
W                  79
OBP             0.329
SLG             0.404
BA              0.262
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 471, dtype: object)
(499, Team              PIT
League             NL
Year             1996
RS                776
RA                833
W                  73
OBP             0.329
SLG             0.407
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.45
Name: 499, dtype: object)
(527, Team              PIT
League             NL
Year             1993
RS                707
RA                806
W                  75
OBP             0.335
SLG             0.393
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.46
Name: 527, dtype: object)
(553, Team              PIT
League             NL
Year             1992
RS                693
RA                595
W                  96
OBP             0.324
SLG             0.381
BA              0.255
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.59
Name: 553, dtype: object)
(579, Team              PIT
League             NL
Year             1991
RS                768
RA                632
W                  98
OBP             0.338
SLG             0.398
BA              0.263
Playoffs            1
RankSeason        1.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP                0.6
Name: 579, dtype: object)
(605, Team              PIT
League             NL
Year             1990
RS                733
RA                619
W                  95
OBP              0.33
SLG             0.405
BA              0.259
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.59
Name: 605, dtype: object)
(631, Team              PIT
League             NL
Year             1989
RS                637
RA                680
W                  74
OBP             0.311
SLG             0.359
BA              0.241
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 164
OOBP              NaN
OSLG              NaN
WP               0.45
Name: 631, dtype: object)
(657, Team              PIT
League             NL
Year             1988
RS                651
RA                616
W                  85
OBP             0.317
SLG             0.369
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 160
OOBP              NaN
OSLG              NaN
WP               0.53
Name: 657, dtype: object)
(683, Team              PIT
League             NL
Year             1987
RS                723
RA                744
W                  80
OBP              0.33
SLG             0.403
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 683, dtype: object)
(709, Team              PIT
League             NL
Year             1986
RS                663
RA                700
W                  64
OBP             0.321
SLG             0.374
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP                0.4
Name: 709, dtype: object)
(735, Team              PIT
League             NL
Year             1985
RS                568
RA                708
W                  57
OBP             0.311
SLG             0.347
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
WP               0.35
Name: 735, dtype: object)
(761, Team              PIT
League             NL
Year             1984
RS                615
RA                567
W                  75
OBP              0.31
SLG             0.363
BA              0.255
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.46
Name: 761, dtype: object)
(787, Team              PIT
League             NL
Year             1983
RS                659
RA                648
W                  84
OBP             0.325
SLG             0.383
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.52
Name: 787, dtype: object)
(813, Team              PIT
League             NL
Year             1982
RS                724
RA                696
W                  84
OBP             0.327
SLG             0.408
BA              0.273
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.52
Name: 813, dtype: object)
(839, Team              PIT
League             NL
Year             1980
RS                666
RA                646
W                  83
OBP             0.322
SLG             0.388
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.51
Name: 839, dtype: object)
(865, Team              PIT
League             NL
Year             1979
RS                775
RA                643
W                  98
OBP              0.33
SLG             0.416
BA              0.272
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 163
OOBP              NaN
OSLG              NaN
WP                0.6
Name: 865, dtype: object)
(891, Team              PIT
League             NL
Year             1978
RS                684
RA                637
W                  88
OBP              0.32
SLG             0.385
BA              0.257
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
WP               0.55
Name: 891, dtype: object)
(917, Team              PIT
League             NL
Year             1977
RS                734
RA                665
W                  96
OBP             0.331
SLG             0.413
BA              0.274
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.59
Name: 917, dtype: object)
(943, Team              PIT
League             NL
Year             1976
RS                708
RA                630
W                  92
OBP             0.321
SLG             0.391
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.57
Name: 943, dtype: object)
(967, Team              PIT
League             NL
Year             1975
RS                712
RA                565
W                  92
OBP             0.323
SLG             0.402
BA              0.263
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 161
OOBP              NaN
OSLG              NaN
WP               0.57
Name: 967, dtype: object)
(991, Team              PIT
League             NL
Year             1974
RS                751
RA                657
W                  88
OBP             0.335
SLG             0.391
BA              0.274
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.54
Name: 991, dtype: object)
(1015, Team              PIT
League             NL
Year             1973
RS                704
RA                693
W                  80
OBP             0.315
SLG             0.405
BA              0.261
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 1015, dtype: object)
(1039, Team              PIT
League             NL
Year             1971
RS                788
RA                599
W                  97
OBP              0.33
SLG             0.416
BA              0.274
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 162
OOBP              NaN
OSLG              NaN
WP                0.6
Name: 1039, dtype: object)
(1063, Team              PIT
League             NL
Year             1970
RS                729
RA                664
W                  89
OBP             0.325
SLG             0.406
BA               0.27
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.55
Name: 1063, dtype: object)
(1086, Team              PIT
League             NL
Year             1969
RS                725
RA                652
W                  88
OBP             0.334
SLG             0.398
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.54
Name: 1086, dtype: object)
(1108, Team              PIT
League             NL
Year             1968
RS                583
RA                532
W                  80
OBP             0.306
SLG             0.343
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 1108, dtype: object)
(1128, Team              PIT
League             NL
Year             1967
RS                679
RA                693
W                  81
OBP             0.324
SLG              0.38
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP                0.5
Name: 1128, dtype: object)
(1148, Team              PIT
League             NL
Year             1966
RS                759
RA                641
W                  92
OBP             0.329
SLG             0.428
BA              0.279
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.57
Name: 1148, dtype: object)
(1168, Team              PIT
League             NL
Year             1965
RS                675
RA                580
W                  90
OBP             0.317
SLG             0.382
BA              0.265
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP               0.55
Name: 1168, dtype: object)
(1188, Team              PIT
League             NL
Year             1964
RS                663
RA                636
W                  80
OBP             0.315
SLG             0.389
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 1188, dtype: object)
(1208, Team              PIT
League             NL
Year             1963
RS                567
RA                595
W                  74
OBP             0.309
SLG             0.359
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.46
Name: 1208, dtype: object)
(1228, Team              PIT
League             NL
Year             1962
RS                706
RA                626
W                  93
OBP             0.321
SLG             0.394
BA              0.268
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
WP               0.58
Name: 1228, dtype: object)

In [18]:
# Print the row and type of each row
for row_tuple in pit_df.iterrows():
    print(row_tuple)
    print(type(row_tuple))

(21, Team              PIT
League             NL
Year             2012
RS                651
RA                674
W                  79
OBP             0.304
SLG             0.395
BA              0.243
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.314
OSLG             0.39
WP               0.49
Name: 21, dtype: object)
<class 'tuple'>
(51, Team              PIT
League             NL
Year             2011
RS                610
RA                712
W                  72
OBP             0.309
SLG             0.368
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.338
OSLG            0.409
WP               0.44
Name: 51, dtype: object)
<class 'tuple'>
(81, Team              PIT
League             NL
Year             2010
RS                587
RA                866
W                  57
OBP             0.304
SLG             0.373
BA              0.242
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.348
OSLG            0.449
WP               0.35
Name: 81, dtype: object)
<class 'tuple'>
(111, Team              PIT
League             NL
Year             2009
RS                636
RA                768
W                  62
OBP             0.318
SLG             0.387
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.346
OSLG            0.442
WP               0.39
Name: 111, dtype: object)
<class 'tuple'>
(141, Team              PIT
League             NL
Year             2008
RS                735
RA                884
W                  67
OBP              0.32
SLG             0.403
BA              0.258
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.362
OSLG            0.454
WP               0.41
Name: 141, dtype: object)
<class 'tuple'>
(171, Team              PIT
League             NL
Year             2007
RS                724
RA                846
W                  68
OBP             0.325
SLG             0.411
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.352
OSLG            0.447
WP               0.42
Name: 171, dtype: object)
<class 'tuple'>
(201, Team              PIT
League             NL
Year             2006
RS                691
RA                797
W                  67
OBP             0.327
SLG             0.397
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.357
OSLG            0.431
WP               0.41
Name: 201, dtype: object)
<class 'tuple'>
(231, Team              PIT
League             NL
Year             2005
RS                680
RA                769
W                  67
OBP             0.322
SLG               0.4
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.424
WP               0.41
Name: 231, dtype: object)
<class 'tuple'>
(262, Team              PIT
League             NL
Year             2004
RS                680
RA                744
W                  72
OBP             0.321
SLG             0.401
BA               0.26
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.416
WP               0.45
Name: 262, dtype: object)
<class 'tuple'>
(292, Team              PIT
League             NL
Year             2003
RS                753
RA                801
W                  75
OBP             0.338
SLG              0.42
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.336
OSLG            0.431
WP               0.46
Name: 292, dtype: object)
<class 'tuple'>
(322, Team              PIT
League             NL
Year             2002
RS                641
RA                730
W                  72
OBP             0.319
SLG             0.381
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.423
WP               0.45
Name: 322, dtype: object)
<class 'tuple'>
(352, Team              PIT
League             NL
Year             2001
RS                657
RA                858
W                  62
OBP             0.313
SLG             0.393
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.433
WP               0.38
Name: 352, dtype: object)
<class 'tuple'>
(382, Team              PIT
League             NL
Year             2000
RS                793
RA                888
W                  69
OBP             0.339
SLG             0.424
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.361
OSLG            0.432
WP               0.43
Name: 382, dtype: object)
<class 'tuple'>
(412, Team              PIT
League             NL
Year             1999
RS                775
RA                782
W                  78
OBP             0.334
SLG             0.419
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.343
OSLG             0.42
WP               0.48
Name: 412, dtype: object)
<class 'tuple'>
(442, Team              PIT
League             NL
Year             1998
RS                650
RA                718
W                  69
OBP             0.311
SLG             0.374
BA              0.254
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP               0.42
Name: 442, dtype: object)
<class 'tuple'>
(471, Team              PIT
League             NL
Year             1997
RS                725
RA                760
W                  79
OBP             0.329
SLG             0.404
BA              0.262
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 471, dtype: object)
<class 'tuple'>
(499, Team              PIT
League             NL
Year             1996
RS                776
RA                833
W                  73
OBP             0.329
SLG             0.407
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.45
Name: 499, dtype: object)
<class 'tuple'>
(527, Team              PIT
League             NL
Year             1993
RS                707
RA                806
W                  75
OBP             0.335
SLG             0.393
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.46
Name: 527, dtype: object)
<class 'tuple'>
(553, Team              PIT
League             NL
Year             1992
RS                693
RA                595
W                  96
OBP             0.324
SLG             0.381
BA              0.255
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.59
Name: 553, dtype: object)
<class 'tuple'>
(579, Team              PIT
League             NL
Year             1991
RS                768
RA                632
W                  98
OBP             0.338
SLG             0.398
BA              0.263
Playoffs            1
RankSeason        1.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP                0.6
Name: 579, dtype: object)
<class 'tuple'>
(605, Team              PIT
League             NL
Year             1990
RS                733
RA                619
W                  95
OBP              0.33
SLG             0.405
BA              0.259
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.59
Name: 605, dtype: object)
<class 'tuple'>
(631, Team              PIT
League             NL
Year             1989
RS                637
RA                680
W                  74
OBP             0.311
SLG             0.359
BA              0.241
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 164
OOBP              NaN
OSLG              NaN
WP               0.45
Name: 631, dtype: object)
<class 'tuple'>
(657, Team              PIT
League             NL
Year             1988
RS                651
RA                616
W                  85
OBP             0.317
SLG             0.369
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 160
OOBP              NaN
OSLG              NaN
WP               0.53
Name: 657, dtype: object)
<class 'tuple'>
(683, Team              PIT
League             NL
Year             1987
RS                723
RA                744
W                  80
OBP              0.33
SLG             0.403
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 683, dtype: object)
<class 'tuple'>
(709, Team              PIT
League             NL
Year             1986
RS                663
RA                700
W                  64
OBP             0.321
SLG             0.374
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP                0.4
Name: 709, dtype: object)
<class 'tuple'>
(735, Team              PIT
League             NL
Year             1985
RS                568
RA                708
W                  57
OBP             0.311
SLG             0.347
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
WP               0.35
Name: 735, dtype: object)
<class 'tuple'>
(761, Team              PIT
League             NL
Year             1984
RS                615
RA                567
W                  75
OBP              0.31
SLG             0.363
BA              0.255
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.46
Name: 761, dtype: object)
<class 'tuple'>
(787, Team              PIT
League             NL
Year             1983
RS                659
RA                648
W                  84
OBP             0.325
SLG             0.383
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.52
Name: 787, dtype: object)
<class 'tuple'>
(813, Team              PIT
League             NL
Year             1982
RS                724
RA                696
W                  84
OBP             0.327
SLG             0.408
BA              0.273
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.52
Name: 813, dtype: object)
<class 'tuple'>
(839, Team              PIT
League             NL
Year             1980
RS                666
RA                646
W                  83
OBP             0.322
SLG             0.388
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.51
Name: 839, dtype: object)
<class 'tuple'>
(865, Team              PIT
League             NL
Year             1979
RS                775
RA                643
W                  98
OBP              0.33
SLG             0.416
BA              0.272
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 163
OOBP              NaN
OSLG              NaN
WP                0.6
Name: 865, dtype: object)
<class 'tuple'>
(891, Team              PIT
League             NL
Year             1978
RS                684
RA                637
W                  88
OBP              0.32
SLG             0.385
BA              0.257
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
WP               0.55
Name: 891, dtype: object)
<class 'tuple'>
(917, Team              PIT
League             NL
Year             1977
RS                734
RA                665
W                  96
OBP             0.331
SLG             0.413
BA              0.274
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.59
Name: 917, dtype: object)
<class 'tuple'>
(943, Team              PIT
League             NL
Year             1976
RS                708
RA                630
W                  92
OBP             0.321
SLG             0.391
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.57
Name: 943, dtype: object)
<class 'tuple'>
(967, Team              PIT
League             NL
Year             1975
RS                712
RA                565
W                  92
OBP             0.323
SLG             0.402
BA              0.263
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 161
OOBP              NaN
OSLG              NaN
WP               0.57
Name: 967, dtype: object)
<class 'tuple'>
(991, Team              PIT
League             NL
Year             1974
RS                751
RA                657
W                  88
OBP             0.335
SLG             0.391
BA              0.274
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.54
Name: 991, dtype: object)
<class 'tuple'>
(1015, Team              PIT
League             NL
Year             1973
RS                704
RA                693
W                  80
OBP             0.315
SLG             0.405
BA              0.261
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 1015, dtype: object)
<class 'tuple'>
(1039, Team              PIT
League             NL
Year             1971
RS                788
RA                599
W                  97
OBP              0.33
SLG             0.416
BA              0.274
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 162
OOBP              NaN
OSLG              NaN
WP                0.6
Name: 1039, dtype: object)
<class 'tuple'>
(1063, Team              PIT
League             NL
Year             1970
RS                729
RA                664
W                  89
OBP             0.325
SLG             0.406
BA               0.27
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
WP               0.55
Name: 1063, dtype: object)
<class 'tuple'>
(1086, Team              PIT
League             NL
Year             1969
RS                725
RA                652
W                  88
OBP             0.334
SLG             0.398
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.54
Name: 1086, dtype: object)
<class 'tuple'>
(1108, Team              PIT
League             NL
Year             1968
RS                583
RA                532
W                  80
OBP             0.306
SLG             0.343
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 1108, dtype: object)
<class 'tuple'>
(1128, Team              PIT
League             NL
Year             1967
RS                679
RA                693
W                  81
OBP             0.324
SLG              0.38
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP                0.5
Name: 1128, dtype: object)
<class 'tuple'>
(1148, Team              PIT
League             NL
Year             1966
RS                759
RA                641
W                  92
OBP             0.329
SLG             0.428
BA              0.279
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.57
Name: 1148, dtype: object)
<class 'tuple'>
(1168, Team              PIT
League             NL
Year             1965
RS                675
RA                580
W                  90
OBP             0.317
SLG             0.382
BA              0.265
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
WP               0.55
Name: 1168, dtype: object)
<class 'tuple'>
(1188, Team              PIT
League             NL
Year             1964
RS                663
RA                636
W                  80
OBP             0.315
SLG             0.389
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.49
Name: 1188, dtype: object)
<class 'tuple'>
(1208, Team              PIT
League             NL
Year             1963
RS                567
RA                595
W                  74
OBP             0.309
SLG             0.359
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
WP               0.46
Name: 1208, dtype: object)
<class 'tuple'>
(1228, Team              PIT
League             NL
Year             1962
RS                706
RA                626
W                  93
OBP             0.321
SLG             0.394
BA              0.268
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
WP               0.58
Name: 1228, dtype: object)
<class 'tuple'>

### Run differentials with .iterrows()
You've been hired by the San Francisco Giants as an analyst—congrats! The team's owner wants you to calculate a metric called the run differential for each season from the year 2008 to 2012. This metric is calculated by subtracting the total number of runs a team allowed in a season from the team's total number of runs scored in a season. 'RS' means runs scored and 'RA' means runs allowed.

In [20]:
giants_df = baseball_df[baseball_df['Team'] == 'SFG']

In [22]:
def calc_run_diff(runs_scored, runs_allowed):

    run_diff = runs_scored - runs_allowed

    return run_diff

In [24]:
# Create an empty list to store run differentials
run_diffs = []

# Write a for loop and collect runs allowed and runs scored for each row
for i,row in giants_df.iterrows():
    runs_scored = row['RS']
    runs_allowed = row['RA']
    
    # Use the provided function to calculate run_diff for each row
    run_diff = calc_run_diff(runs_scored, runs_allowed)
    
    # Append each run differential to the output list
    run_diffs.append(run_diff)

giants_df.loc[:,'RD'] = run_diffs
print(giants_df)

     Team League  Year   RS   RA    W    OBP    SLG     BA  Playoffs  \
24    SFG     NL  2012  718  649   94  0.327  0.397  0.269         1
54    SFG     NL  2011  570  578   86  0.303  0.368  0.242         0
84    SFG     NL  2010  697  583   92  0.321  0.408  0.257         1
114   SFG     NL  2009  657  611   88  0.309  0.389  0.257         0
144   SFG     NL  2008  640  759   72  0.321  0.382  0.262         0
174   SFG     NL  2007  683  720   71  0.322  0.387  0.254         0
204   SFG     NL  2006  746  790   76  0.324  0.422  0.259         0
234   SFG     NL  2005  649  745   75  0.319  0.396  0.261         0
265   SFG     NL  2004  850  770   91  0.357  0.438  0.270         0
295   SFG     NL  2003  755  638  100  0.338  0.425  0.264         1
325   SFG     NL  2002  783  616   95  0.344  0.442  0.267         1
355   SFG     NL  2001  799  748   90  0.342  0.460  0.266         0
385   SFG     NL  2000  925  747   97  0.362  0.472  0.278         1
415   SFG     NL  1999  872  831   86  0.356  0.434  0.271         0
445   SFG     NL  1998  845  739   89  0.353  0.421  0.274         0
474   SFG     NL  1997  784  793   90  0.337  0.414  0.258         1
502   SFG     NL  1996  752  862   68  0.331  0.388  0.253         0
530   SFG     NL  1993  808  636  103  0.340  0.427  0.276         0
556   SFG     NL  1992  574  647   72  0.302  0.355  0.244         0
582   SFG     NL  1991  649  697   75  0.309  0.381  0.246         0
608   SFG     NL  1990  719  710   85  0.323  0.396  0.262         0
634   SFG     NL  1989  699  600   92  0.316  0.390  0.250         1
660   SFG     NL  1988  670  626   83  0.318  0.368  0.248         0
686   SFG     NL  1987  783  669   90  0.324  0.430  0.260         1
712   SFG     NL  1986  698  618   83  0.322  0.375  0.253         0
738   SFG     NL  1985  556  674   62  0.299  0.348  0.233         0
764   SFG     NL  1984  682  807   66  0.328  0.375  0.265         0
790   SFG     NL  1983  687  697   79  0.325  0.375  0.247         0
816   SFG     NL  1982  673  687   87  0.327  0.376  0.253         0
842   SFG     NL  1980  573  634   75  0.308  0.342  0.244         0
868   SFG     NL  1979  672  751   71  0.319  0.365  0.246         0
894   SFG     NL  1978  613  594   89  0.318  0.374  0.248         0
920   SFG     NL  1977  673  711   75  0.323  0.383  0.253         0
945   SFG     NL  1976  595  686   74  0.312  0.345  0.246         0
969   SFG     NL  1975  659  671   80  0.333  0.365  0.259         0
993   SFG     NL  1974  634  723   72  0.322  0.358  0.252         0
1017  SFG     NL  1973  739  702   88  0.335  0.407  0.262         0
1041  SFG     NL  1971  706  644   90  0.329  0.378  0.247         1
1065  SFG     NL  1970  831  826   86  0.351  0.409  0.262         0
1089  SFG     NL  1969  713  636   90  0.334  0.361  0.242         0
1109  SFG     NL  1968  599  529   88  0.307  0.341  0.239         0
1129  SFG     NL  1967  652  551   91  0.313  0.372  0.245         0
1149  SFG     NL  1966  675  626   93  0.303  0.392  0.248         0
1169  SFG     NL  1965  682  593   95  0.313  0.385  0.252         0
1189  SFG     NL  1964  656  587   90  0.310  0.382  0.246         0
1209  SFG     NL  1963  725  641   88  0.316  0.414  0.258         0
1229  SFG     NL  1962  878  690  103  0.341  0.441  0.278         1

      RankSeason  RankPlayoffs    G   OOBP   OSLG    WP   RD
24           4.0           1.0  162  0.313  0.393  0.58   69
54           NaN           NaN  162  0.309  0.346  0.53   -8
84           5.0           1.0  162  0.313  0.370  0.57  114
114          NaN           NaN  162  0.314  0.372  0.54   46
144          NaN           NaN  162  0.341  0.404  0.44 -119
174          NaN           NaN  162  0.334  0.405  0.44  -37
204          NaN           NaN  161  0.337  0.415  0.47  -44
234          NaN           NaN  162  0.336  0.412  0.46  -96
265          NaN           NaN  162  0.332  0.423  0.56   80
295          2.0           4.0  161  0.321  0.386  0.62  117
325          6.0           2.0  162  0.319  0.372  0.59  167
355          NaN           NaN  162  0.329  0.404  0.56   51
385          1.0           4.0  162  0.342  0.412  0.60  178
415          NaN           NaN  162  0.345  0.423  0.53   41
445          NaN           NaN  163    NaN    NaN  0.55  106
474          5.0           4.0  162    NaN    NaN  0.56   -9
502          NaN           NaN  162    NaN    NaN  0.42 -110
530          NaN           NaN  162    NaN    NaN  0.64  172
556          NaN           NaN  162    NaN    NaN  0.44  -73
582          NaN           NaN  162    NaN    NaN  0.46  -48
608          NaN           NaN  162    NaN    NaN  0.52    9
634          3.0           2.0  162    NaN    NaN  0.57   99
660          NaN           NaN  162    NaN    NaN  0.51   44
686          3.0           3.0  162    NaN    NaN  0.56  114
712          NaN           NaN  162    NaN    NaN  0.51   80
738          NaN           NaN  162    NaN    NaN  0.38 -118
764          NaN           NaN  162    NaN    NaN  0.41 -125
790          NaN           NaN  162    NaN    NaN  0.49  -10
816          NaN           NaN  162    NaN    NaN  0.54  -14
842          NaN           NaN  161    NaN    NaN  0.47  -61
868          NaN           NaN  162    NaN    NaN  0.44  -79
894          NaN           NaN  162    NaN    NaN  0.55   19
920          NaN           NaN  162    NaN    NaN  0.46  -38
945          NaN           NaN  162    NaN    NaN  0.46  -91
969          NaN           NaN  161    NaN    NaN  0.50  -12
993          NaN           NaN  162    NaN    NaN  0.44  -89
1017         NaN           NaN  162    NaN    NaN  0.54   37
1041         3.0           3.0  162    NaN    NaN  0.56   62
1065         NaN           NaN  162    NaN    NaN  0.53    5
1089         NaN           NaN  162    NaN    NaN  0.56   77
1109         NaN           NaN  163    NaN    NaN  0.54   70
1129         NaN           NaN  162    NaN    NaN  0.56  101
1149         NaN           NaN  161    NaN    NaN  0.58   49
1169         NaN           NaN  163    NaN    NaN  0.58   89
1189         NaN           NaN  162    NaN    NaN  0.56   69
1209         NaN           NaN  162    NaN    NaN  0.54   84
1229         1.0           2.0  165    NaN    NaN  0.62  188

## Another iterator method: .itertuples()

In [28]:
team_wins_df = baseball_df[['Team','Year','W']]
rangers_df = baseball_df[baseball_df['Team'] == 'TEX']

### Iterating with .itertuples()
Remember, .itertuples() returns each DataFrame row as a special data type called a namedtuple. You can look up an attribute within a namedtuple with a special syntax. Let's practice working with namedtuples.

A pandas DataFrame has been loaded into your session called rangers_df. This DataFrame contains the stats ('Team', 'League', 'Year', 'RS', 'RA', 'W', 'G', and 'Playoffs') for the Major League baseball team named the Texas Rangers (abbreviated as 'TEX').

In [29]:
# Loop over the DataFrame and print each row
for row in rangers_df.itertuples():
  print(row)

Pandas(Index=27, Team='TEX', League='AL', Year=2012, RS=808, RA=707, W=93, OBP=0.334, SLG=0.446, BA=0.273, Playoffs=1, RankSeason=5.0, RankPlayoffs=5.0, G=162, OOBP=0.309, OSLG=0.408, WP=0.57)
Pandas(Index=57, Team='TEX', League='AL', Year=2011, RS=855, RA=677, W=96, OBP=0.34, SLG=0.46, BA=0.283, Playoffs=1, RankSeason=3.0, RankPlayoffs=2.0, G=162, OOBP=0.307, OSLG=0.392, WP=0.59)
Pandas(Index=87, Team='TEX', League='AL', Year=2010, RS=787, RA=687, W=90, OBP=0.338, SLG=0.419, BA=0.276, Playoffs=1, RankSeason=7.0, RankPlayoffs=2.0, G=162, OOBP=0.319, OSLG=0.39, WP=0.56)
Pandas(Index=117, Team='TEX', League='AL', Year=2009, RS=784, RA=740, W=87, OBP=0.32, SLG=0.445, BA=0.26, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.331, OSLG=0.416, WP=0.54)
Pandas(Index=147, Team='TEX', League='AL', Year=2008, RS=901, RA=967, W=79, OBP=0.354, SLG=0.462, BA=0.283, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.362, OSLG=0.455, WP=0.49)
Pandas(Index=177, Team='TEX', League='AL', Year=2007, RS=816, RA=844, W=75, OBP=0.328, SLG=0.426, BA=0.263, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.356, OSLG=0.423, WP=0.46)
Pandas(Index=207, Team='TEX', League='AL', Year=2006, RS=835, RA=784, W=80, OBP=0.338, SLG=0.446, BA=0.278, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.341, OSLG=0.424, WP=0.49)
Pandas(Index=237, Team='TEX', League='AL', Year=2005, RS=865, RA=858, W=79, OBP=0.329, SLG=0.468, BA=0.267, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.343, OSLG=0.428, WP=0.49)
Pandas(Index=268, Team='TEX', League='AL', Year=2004, RS=860, RA=794, W=89, OBP=0.329, SLG=0.457, BA=0.266, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.344, OSLG=0.432, WP=0.55)
Pandas(Index=298, Team='TEX', League='AL', Year=2003, RS=826, RA=969, W=71, OBP=0.33, SLG=0.454, BA=0.266, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.36, OSLG=0.473, WP=0.44)
Pandas(Index=328, Team='TEX', League='AL', Year=2002, RS=843, RA=882, W=72, OBP=0.338, SLG=0.455, BA=0.269, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.355, OSLG=0.451, WP=0.44)
Pandas(Index=358, Team='TEX', League='AL', Year=2001, RS=890, RA=968, W=73, OBP=0.344, SLG=0.471, BA=0.275, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.362, OSLG=0.494, WP=0.45)
Pandas(Index=388, Team='TEX', League='AL', Year=2000, RS=848, RA=974, W=71, OBP=0.352, SLG=0.446, BA=0.283, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.369, OSLG=0.475, WP=0.44)
Pandas(Index=418, Team='TEX', League='AL', Year=1999, RS=945, RA=859, W=95, OBP=0.361, SLG=0.479, BA=0.293, Playoffs=1, RankSeason=5.0, RankPlayoffs=4.0, G=162, OOBP=0.346, OSLG=0.459, WP=0.59)
Pandas(Index=448, Team='TEX', League='AL', Year=1998, RS=940, RA=871, W=88, OBP=0.357, SLG=0.462, BA=0.289, Playoffs=1, RankSeason=8.0, RankPlayoffs=4.0, G=162, OOBP=nan, OSLG=nan, WP=0.54)
Pandas(Index=476, Team='TEX', League='AL', Year=1997, RS=807, RA=823, W=77, OBP=0.334, SLG=0.438, BA=0.274, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.48)
Pandas(Index=504, Team='TEX', League='AL', Year=1996, RS=928, RA=799, W=90, OBP=0.358, SLG=0.469, BA=0.284, Playoffs=1, RankSeason=5.0, RankPlayoffs=4.0, G=163, OOBP=nan, OSLG=nan, WP=0.55)
Pandas(Index=532, Team='TEX', League='AL', Year=1993, RS=835, RA=751, W=86, OBP=0.329, SLG=0.431, BA=0.267, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.53)
Pandas(Index=558, Team='TEX', League='AL', Year=1992, RS=682, RA=753, W=77, OBP=0.321, SLG=0.393, BA=0.25, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.48)
Pandas(Index=584, Team='TEX', League='AL', Year=1991, RS=829, RA=814, W=85, OBP=0.341, SLG=0.424, BA=0.27, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.52)
Pandas(Index=610, Team='TEX', League='AL', Year=1990, RS=676, RA=696, W=83, OBP=0.331, SLG=0.376, BA=0.259, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.51)
Pandas(Index=636, Team='TEX', League='AL', Year=1989, RS=695, RA=714, W=83, OBP=0.326, SLG=0.394, BA=0.263, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.51)
Pandas(Index=662, Team='TEX', League='AL', Year=1988, RS=637, RA=735, W=70, OBP=0.32, SLG=0.368, BA=0.252, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan, WP=0.43)
Pandas(Index=688, Team='TEX', League='AL', Year=1987, RS=823, RA=849, W=75, OBP=0.333, SLG=0.43, BA=0.266, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.46)
Pandas(Index=714, Team='TEX', League='AL', Year=1986, RS=771, RA=743, W=87, OBP=0.331, SLG=0.428, BA=0.267, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.54)
Pandas(Index=740, Team='TEX', League='AL', Year=1985, RS=617, RA=785, W=62, OBP=0.322, SLG=0.381, BA=0.253, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan, WP=0.39)
Pandas(Index=766, Team='TEX', League='AL', Year=1984, RS=656, RA=714, W=69, OBP=0.313, SLG=0.377, BA=0.261, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan, WP=0.43)
Pandas(Index=792, Team='TEX', League='AL', Year=1983, RS=639, RA=609, W=77, OBP=0.31, SLG=0.366, BA=0.255, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=163, OOBP=nan, OSLG=nan, WP=0.47)
Pandas(Index=818, Team='TEX', League='AL', Year=1982, RS=590, RA=749, W=64, OBP=0.308, SLG=0.359, BA=0.249, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.4)
Pandas(Index=844, Team='TEX', League='AL', Year=1980, RS=756, RA=752, W=76, OBP=0.339, SLG=0.405, BA=0.284, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=163, OOBP=nan, OSLG=nan, WP=0.47)
Pandas(Index=870, Team='TEX', League='AL', Year=1979, RS=750, RA=698, W=83, OBP=0.334, SLG=0.409, BA=0.278, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.51)
Pandas(Index=896, Team='TEX', League='AL', Year=1978, RS=692, RA=632, W=87, OBP=0.332, SLG=0.381, BA=0.253, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.54)
Pandas(Index=922, Team='TEX', League='AL', Year=1977, RS=767, RA=657, W=94, OBP=0.342, SLG=0.405, BA=0.27, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.58)
Pandas(Index=947, Team='TEX', League='AL', Year=1976, RS=616, RA=652, W=76, OBP=0.321, SLG=0.341, BA=0.25, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.47)
Pandas(Index=971, Team='TEX', League='AL', Year=1975, RS=714, RA=733, W=79, OBP=0.33, SLG=0.371, BA=0.256, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.49)
Pandas(Index=995, Team='TEX', League='AL', Year=1974, RS=690, RA=698, W=83, OBP=0.336, SLG=0.377, BA=0.272, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan, WP=0.52)
Pandas(Index=1019, Team='TEX', League='AL', Year=1973, RS=619, RA=844, W=57, OBP=0.318, SLG=0.361, BA=0.255, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan, WP=0.35)

In [30]:
# Loop over the DataFrame and print each row's Index, Year and Wins (W)
for row in rangers_df.itertuples():
  i = row.Index
  year = row.Year
  wins = row.W
  print(i, year, wins)

27 2012 93
57 2011 96
87 2010 90
117 2009 87
147 2008 79
177 2007 75
207 2006 80
237 2005 79
268 2004 89
298 2003 71
328 2002 72
358 2001 73
388 2000 71
418 1999 95
448 1998 88
476 1997 77
504 1996 90
532 1993 86
558 1992 77
584 1991 85
610 1990 83
636 1989 83
662 1988 70
688 1987 75
714 1986 87
740 1985 62
766 1984 69
792 1983 77
818 1982 64
844 1980 76
870 1979 83
896 1978 87
922 1977 94
947 1976 76
971 1975 79
995 1974 83
1019 1973 57

In [31]:
# Loop over the DataFrame and print each row's Index, Year and Wins (W)
for row in rangers_df.itertuples():
  i = row.Index
  year = row.Year
  wins = row.W
  
  # Check if rangers made Playoffs (1 means yes; 0 means no)
  if row.Playoffs == 1:
    print(i, year, wins)

27 2012 93
57 2011 96
87 2010 90
418 1999 95
448 1998 88
504 1996 90

### Run differentials with .itertuples()
The New York Yankees have made a trade with the San Francisco Giants for your analyst contract— you're a hot commodity! Your new boss has seen your work with the Giants and now wants you to do something similar with the Yankees data. He'd like you to calculate run differentials for the Yankees from the year 1962 to the year 2012 and find which season they had the best run differential.

You've remembered the function you used when working with the Giants and quickly write it down:

In [32]:
def calc_run_diff(runs_scored, runs_allowed):

    run_diff = runs_scored - runs_allowed

    return run_diff

In [35]:
yankees_df = baseball_df[baseball_df['Team'] == 'NYY']

In [40]:
run_diffs = []

# Loop over the DataFrame and calculate each row's run differential
for row in yankees_df.itertuples():
    
    runs_scored = row.RS
    runs_allowed = row.RA

    run_diff = calc_run_diff(runs_scored, runs_allowed)
    
    run_diffs.append(run_diff)

# Append new column
yankees_df.loc[:,'RD'] = run_diffs
yankees_df

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,WP,RD
18,NYY,AL,2012,804,668,95,0.337,0.453,0.265,1,3.0,3.0,162,0.311,0.419,0.59,136
48,NYY,AL,2011,867,657,97,0.343,0.444,0.263,1,2.0,4.0,162,0.322,0.399,0.60,210
78,NYY,AL,2010,859,693,95,0.350,0.436,0.267,1,3.0,3.0,162,0.322,0.399,0.59,166
108,NYY,AL,2009,915,753,103,0.362,0.478,0.283,1,1.0,1.0,162,0.327,0.408,0.64,162
138,NYY,AL,2008,789,727,89,0.342,0.427,0.271,0,NaN,NaN,162,0.329,0.405,0.55,62
168,NYY,AL,2007,968,777,94,0.366,0.463,0.290,1,2.0,4.0,162,0.340,0.417,0.58,191
198,NYY,AL,2006,930,767,97,0.363,0.461,0.285,1,1.0,4.0,162,0.326,0.413,0.60,163
228,NYY,AL,2005,886,789,95,0.355,0.450,0.276,1,3.0,4.0,162,0.332,0.422,0.59,97
259,NYY,AL,2004,897,808,101,0.353,0.458,0.268,1,2.0,3.0,162,0.328,0.432,0.62,89
289,NYY,AL,2003,877,716,101,0.356,0.453,0.271,1,1.0,2.0,163,0.314,0.407,0.62,161
319,NYY,AL,2002,897,697,103,0.354,0.455,0.275,1,1.0,4.0,161,0.309,0.395,0.64,200
349,NYY,AL,2001,804,713,95,0.334,0.435,0.267,1,3.0,2.0,161,0.318,0.398,0.59,91
379,NYY,AL,2000,871,814,87,0.354,0.450,0.277,1,5.0,1.0,161,0.336,0.422,0.54,57
409,NYY,AL,1999,900,731,98,0.366,0.453,0.282,1,3.0,1.0,162,0.329,0.400,0.60,169
439,NYY,AL,1998,965,656,114,0.364,0.460,0.288,1,1.0,1.0,162,NaN,NaN,0.70,309
468,NYY,AL,1997,891,688,96,0.362,0.436,0.287,1,3.0,4.0,162,NaN,NaN,0.59,203
496,NYY,AL,1996,871,787,92,0.360,0.436,0.288,1,3.0,1.0,162,NaN,NaN,0.57,84
524,NYY,AL,1993,821,761,88,0.353,0.435,0.279,0,NaN,NaN,162,NaN,NaN,0.54,60
550,NYY,AL,1992,733,746,76,0.328,0.406,0.261,0,NaN,NaN,162,NaN,NaN,0.47,-13
576,NYY,AL,1991,674,777,71,0.316,0.387,0.256,0,NaN,NaN,162,NaN,NaN,0.44,-103
602,NYY,AL,1990,603,749,67,0.300,0.366,0.241,0,NaN,NaN,162,NaN,NaN,0.41,-146
628,NYY,AL,1989,698,792,74,0.331,0.391,0.269,0,NaN,NaN,161,NaN,NaN,0.46,-94
654,NYY,AL,1988,772,748,85,0.333,0.395,0.263,0,NaN,NaN,161,NaN,NaN,0.53,24
680,NYY,AL,1987,788,758,89,0.336,0.418,0.262,0,NaN,NaN,162,NaN,NaN,0.55,30
706,NYY,AL,1986,797,738,90,0.347,0.430,0.271,0,NaN,NaN,162,NaN,NaN,0.56,59
732,NYY,AL,1985,839,660,97,0.344,0.425,0.267,0,NaN,NaN,161,NaN,NaN,0.60,179
758,NYY,AL,1984,758,679,87,0.339,0.404,0.276,0,NaN,NaN,162,NaN,NaN,0.54,79
784,NYY,AL,1983,770,703,91,0.337,0.416,0.273,0,NaN,NaN,162,NaN,NaN,0.56,67
810,NYY,AL,1982,709,716,79,0.328,0.398,0.256,0,NaN,NaN,162,NaN,NaN,0.49,-7
836,NYY,AL,1980,820,662,103,0.343,0.425,0.267,1,1.0,3.0,162,NaN,NaN,0.64,158
862,NYY,AL,1979,734,672,89,0.328,0.406,0.266,0,NaN,NaN,160,NaN,NaN,0.56,62
888,NYY,AL,1978,735,582,100,0.329,0.388,0.267,1,1.0,1.0,163,NaN,NaN,0.61,153
914,NYY,AL,1977,831,651,100,0.344,0.444,0.281,1,3.0,1.0,162,NaN,NaN,0.62,180
940,NYY,AL,1976,730,575,97,0.328,0.389,0.269,1,3.0,2.0,159,NaN,NaN,0.61,155
964,NYY,AL,1975,681,588,83,0.325,0.382,0.264,0,NaN,NaN,160,NaN,NaN,0.52,93
988,NYY,AL,1974,671,623,89,0.324,0.368,0.263,0,NaN,NaN,162,NaN,NaN,0.55,48
1012,NYY,AL,1973,641,610,80,0.322,0.378,0.261,0,NaN,NaN,162,NaN,NaN,0.49,31
1036,NYY,AL,1971,648,641,81,0.328,0.360,0.254,0,NaN,NaN,162,NaN,NaN,0.50,7
1060,NYY,AL,1970,680,612,93,0.324,0.365,0.251,0,NaN,NaN,163,NaN,NaN,0.57,68
1083,NYY,AL,1969,562,587,80,0.308,0.344,0.235,0,NaN,NaN,162,NaN,NaN,0.49,-25
1105,NYY,AL,1968,536,531,83,0.292,0.318,0.214,0,NaN,NaN,164,NaN,NaN,0.51,5
1126,NYY,AL,1967,522,621,72,0.296,0.317,0.225,0,NaN,NaN,163,NaN,NaN,0.44,-99
1146,NYY,AL,1966,611,612,70,0.299,0.374,0.235,0,NaN,NaN,160,NaN,NaN,0.44,-1
1166,NYY,AL,1965,611,604,77,0.299,0.364,0.235,0,NaN,NaN,162,NaN,NaN,0.48,7
1186,NYY,AL,1964,730,577,99,0.317,0.387,0.253,1,1.0,2.0,164,NaN,NaN,0.60,153
1206,NYY,AL,1963,714,547,104,0.309,0.403,0.252,1,1.0,2.0,161,NaN,NaN,0.65,167
1226,NYY,AL,1962,817,680,96,0.337,0.426,0.267,1,2.0,1.0,162,NaN,NaN,0.59,137

## pandas alternative to looping

### Analyzing baseball stats with .apply()
The Tampa Bay Rays want you to analyze their data.

They'd like the following metrics:

- The sum of each column in the data
- The total amount of runs scored in a year ('RS' + 'RA' for each year)
- The 'Playoffs' column in text format rather than using 1's and 0's
- The below function can be used to convert the 'Playoffs' column to text:

In [41]:
def text_playoffs(num_playoffs): 
    if num_playoffs == 1:
        return 'Yes'
    else:
        return 'No'

In [45]:
rays_df = baseball_df[baseball_df['Team'] == 'TBR']

In [ ]:
# Gather sum of all columns
stat_totals = rays_df.apply(sum, axis=1)
print(stat_totals)

In [47]:
# Gather total runs scored in all games per year
total_runs_scored = rays_df[['RS', 'RA']].apply(sum, axis=1)
print(total_runs_scored)

26     1274
56     1321
86     1451
116    1557
146    1445
dtype: int64

In [49]:
# Convert numeric playoffs to text by applying text_playoffs()
textual_playoffs = rays_df.apply(lambda row: text_playoffs(row['Playoffs']), axis=1)
print(textual_playoffs)

26      No
56     Yes
86     Yes
116     No
146    Yes
dtype: object

### Settle a debate with .apply()
Word has gotten to the Arizona Diamondbacks about your awesome analytics skills. They'd like for you to help settle a debate amongst the managers. One manager claims that the team has made the playoffs every year they have had a win percentage of 0.50 or greater. Another manager says this is not true.

Let's use the below function and the .apply() method to see which manager is correct.

In [50]:
def calc_win_perc(wins, games_played):
    win_perc = wins / games_played
    return np.round(win_perc,2)

In [52]:
dbacks_df = baseball_df[baseball_df['Team'] ==  'ARI']

In [55]:
# Display the first five rows of the DataFrame
display(dbacks_df.head())

# Create a win percentage Series 
win_percs = dbacks_df.apply(lambda row: calc_win_perc(row['W'], row['G']), axis=1)
print(win_percs, '\n')

# Append a new column to dbacks_df
dbacks_df.loc[:,'WP'] = win_percs
display(dbacks_df, '\n')

# Display dbacks_df where WP is greater than 0.50
display(dbacks_df[dbacks_df['WP'] >= 0.50])

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,WP
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415,0.50
30,ARI,NL,2011,731,662,94,0.322,0.413,0.250,1,5.0,4.0,162,0.316,0.409,0.58
60,ARI,NL,2010,713,836,65,0.325,0.416,0.250,0,NaN,NaN,162,0.340,0.448,0.40
90,ARI,NL,2009,720,782,70,0.324,0.418,0.253,0,NaN,NaN,162,0.330,0.419,0.43
120,ARI,NL,2008,720,706,82,0.327,0.415,0.251,0,NaN,NaN,162,0.318,0.398,0.51

0      0.50
30     0.58
60     0.40
90     0.43
120    0.51
150    0.56
180    0.47
210    0.48
241    0.31
271    0.52
301    0.60
331    0.57
361    0.52
391    0.62
421    0.40
dtype: float64

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,WP
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415,0.50
30,ARI,NL,2011,731,662,94,0.322,0.413,0.250,1,5.0,4.0,162,0.316,0.409,0.58
60,ARI,NL,2010,713,836,65,0.325,0.416,0.250,0,NaN,NaN,162,0.340,0.448,0.40
90,ARI,NL,2009,720,782,70,0.324,0.418,0.253,0,NaN,NaN,162,0.330,0.419,0.43
120,ARI,NL,2008,720,706,82,0.327,0.415,0.251,0,NaN,NaN,162,0.318,0.398,0.51
150,ARI,NL,2007,712,732,90,0.321,0.413,0.250,1,3.0,3.0,162,0.334,0.420,0.56
180,ARI,NL,2006,773,788,76,0.331,0.424,0.267,0,NaN,NaN,162,0.335,0.431,0.47
210,ARI,NL,2005,696,856,77,0.332,0.421,0.256,0,NaN,NaN,162,0.345,0.455,0.48
241,ARI,NL,2004,615,899,51,0.310,0.393,0.253,0,NaN,NaN,162,0.350,0.439,0.31
271,ARI,NL,2003,717,685,84,0.330,0.417,0.263,0,NaN,NaN,162,0.322,0.388,0.52
301,ARI,NL,2002,819,674,98,0.346,0.423,0.267,1,4.0,4.0,162,0.305,0.397,0.60
331,ARI,NL,2001,818,677,92,0.341,0.442,0.267,1,5.0,1.0,162,0.311,0.404,0.57
361,ARI,NL,2000,792,754,85,0.333,0.429,0.265,0,NaN,NaN,162,0.326,0.424,0.52
391,ARI,NL,1999,908,676,100,0.347,0.459,0.277,1,2.0,4.0,162,0.320,0.402,0.62
421,ARI,NL,1998,665,812,65,0.314,0.393,0.246,0,NaN,NaN,162,NaN,NaN,0.40

'\n'

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,WP
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415,0.50
30,ARI,NL,2011,731,662,94,0.322,0.413,0.250,1,5.0,4.0,162,0.316,0.409,0.58
120,ARI,NL,2008,720,706,82,0.327,0.415,0.251,0,NaN,NaN,162,0.318,0.398,0.51
150,ARI,NL,2007,712,732,90,0.321,0.413,0.250,1,3.0,3.0,162,0.334,0.420,0.56
271,ARI,NL,2003,717,685,84,0.330,0.417,0.263,0,NaN,NaN,162,0.322,0.388,0.52
301,ARI,NL,2002,819,674,98,0.346,0.423,0.267,1,4.0,4.0,162,0.305,0.397,0.60
331,ARI,NL,2001,818,677,92,0.341,0.442,0.267,1,5.0,1.0,162,0.311,0.404,0.57
361,ARI,NL,2000,792,754,85,0.333,0.429,0.265,0,NaN,NaN,162,0.326,0.424,0.52
391,ARI,NL,1999,908,676,100,0.347,0.459,0.277,1,2.0,4.0,162,0.320,0.402,0.62

## Optimal pandas iterating

### Replacing .iloc with underlying arrays
Now that you have a better grasp on a DataFrame's internals let's update one of your previous analyses to leverage a DataFrame's underlying arrays. You'll revisit the win percentage calculations you performed row by row with the .iloc method:

In [56]:
def calc_win_perc(wins, games_played):
    win_perc = wins / games_played
    return np.round(win_perc,2)

win_percs_list = []

for i in range(len(baseball_df)):
    row = baseball_df.iloc[i]

    wins = row['W']
    games_played = row['G']

    win_perc = calc_win_perc(wins, games_played)

    win_percs_list.append(win_perc)

baseball_df['WP'] = win_percs_list

In [57]:
# Use the W array and G array to calculate win percentages
win_percs_np = calc_win_perc(baseball_df['W'].values, baseball_df['G'].values) 

# Append a new column to baseball_df that stores all win percentages
baseball_df['WP'] = win_percs_np

display(baseball_df.head())

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,WP
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415,0.50
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378,0.58
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403,0.57
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428,0.43
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424,0.38

### Bringing it all together: Predict win percentage
A pandas DataFrame (baseball_df) has been loaded into your session. For convenience, a dictionary describing each column within baseball_df has been printed into your console. You can reference these descriptions throughout the exercise.

You'd like to attempt to predict a team's win percentage for a given season by using the team's total runs scored in a season ('RS') and total runs allowed in a season ('RA') with the following function:

In [58]:
def predict_win_perc(RS, RA):
    prediction = RS ** 2 / (RS ** 2 + RA ** 2)
    return np.round(prediction, 2)

In [62]:
win_perc_preds_loop = []

# Use a loop and .itertuples() to collect each row's predicted win percentage
for row in baseball_df.itertuples():
    runs_scored = row.RS
    runs_allowed = row.RA
    win_perc_pred = predict_win_perc(runs_scored, runs_allowed)
    win_perc_preds_loop.append(win_perc_pred)

# Apply predict_win_perc to each row of the DataFrame
win_perc_preds_apply = baseball_df.apply(lambda row: predict_win_perc(row['RS'], row['RA']), axis=1)

# Calculate the win percentage predictions using NumPy arrays
win_perc_preds_np = predict_win_perc(baseball_df['RS'].values, baseball_df['RA'].values)
baseball_df.loc[:,'WP_Preds'] = win_perc_preds_np
baseball_df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,WP,WP_preds,WP_Preds
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415,0.50,0.53,0.53
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378,0.58,0.58,0.58
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403,0.57,0.50,0.50
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428,0.43,0.45,0.45
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424,0.38,0.39,0.39